
# The `Types` section specifies which classes should be used for various
# tasks in the NEAT algorithm.  If you use a non-default class here, you
# must register it with your Config instance before loading the config file.
[Types]
stagnation_type      = DefaultStagnation
reproduction_type    = DefaultReproduction

[phenotype]
input_nodes          = 368
hidden_nodes         = 50
output_nodes         = 1
initial_connection   = unconnected
max_weight           = 1
min_weight           = -10
feedforward          = 0
activation_functions = sigmoid abs
weight_stdev         = 10.0

[genetic]
pop_size                = 20
max_fitness_threshold   = 0.90
prob_add_conn           = 0.788
prob_add_node           = 0.285
prob_delete_conn        = 0.346
prob_delete_node        = 0.1352
prob_mutate_bias        = 0.209
bias_mutation_power     = 1.393
prob_mutate_response    = 0.5
response_mutation_power = 0.5
prob_mutate_weight      = 0.460
prob_replace_weight     = 0.145
weight_mutation_power   = 0.825
prob_mutate_activation  = 0.3
prob_toggle_link        = 0.138
reset_on_extinction     = 1

[genotype compatibility]
compatibility_threshold = 10.0
excess_coefficient      = 4.0
disjoint_coefficient    = 3.0
weight_coefficient      = 3.4

[DefaultStagnation]
species_fitness_func = mean
max_stagnation       = 15

[DefaultReproduction]
elitism              = 1
survival_threshold   = 0.2